@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  .app-height {
    height: calc(100vh - 9.5rem);
  }
}
body {
  font-family: Cantarell, ui-sans-serif, system-ui, -apple-system;
  font-size: 16px;
  scrollbar-color: var(--primary-color) var(--lightest-color);
}

