@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
  @apply relative inline-block;
}

.tooltip .tooltiptext {
  @apply invisible bg-accent bg-opacity-70 text-foreground w-auto text-center p-2 rounded bottom-full left-1/2 -ml-10 absolute z-10 inline;
}

.tooltip:hover .tooltiptext {
  @apply visible;
}
@media (min-width: 768px) {
  .app-height {
    height: calc(100vh - 9.5rem);
  }
}
.snap-container {
  scroll-snap-type: y mandatory;
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
}
.snap-child {
  scroll-snap-align: start;
}
* {
  scrollbar-color: var(--primary-color) var(--lightest-color);
  scrollbar-width: medium;
}
::-webkit-scrollbar {
  @apply w-2;
}
::-webkit-scrollbar-track {
  @apply bg-lightest;
}
::-webkit-scrollbar-thumb {
  @apply bg-accent rounded-xl;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary rounded-xl;
}
